{% extends 'basic.html' %}
{% block container_block %}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<form name="topic_form" action="{% url 'save_topic' %}" method="POST">
{% csrf_token%}
<label>Topic</label>
<input class="form-control" name="topic_name" value="{{ topic.topic_name }}" placeholder="Topic" />
<input type="hidden" name="topic_id" value="{{topic.id}}"/>
<button type="submit" id="save_topic" class="btn btn-success"> Save </button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
$(function(){
	$("#save_topic").click(function(){
		
		$.ajax({
			type:"POST",
			url:"{% url 'save_topic' %}",
			data: {
				topic_name:$('input[name=topic_name]').val(),
				topic_id:$('input[name=topic_id]').val(),
				csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
			},
			dataType:'json',
			success: function(){
				console.log(response)
				if(response.status=='OK'){
					alert("Save Success");
					var topic_id=response.payload.id
					$("input[name=topic_id]").val(topic_id)
				}else if(response.message=='TOPIC_NAME_DUPLICATE'){
					alert("Topic alraedy found")
				}else if (response.message=='MISSING_RQUIRED_PARAMETERS'){
					alert("You have a missing parameter")
					
				}
			},
			error: function(){
				alert("error in save")
			}
		});
		
	});
	
});





</script>

{% endblock%}