{% extends 'base.html'%}

<link rel="stylesheet" href="https://formvalidation.io/vendors/formvalidation/css/formValidation.min.css">

{% block container%}
<form class="jumbotron" name="Add_Vacations" id="Add_Vacations" action="{% url 'save_vacation' %}" method="POST">
	{% csrf_token%}
	<h3>Fill out the vacation details</h3>
	<label>Description</label>
	<input class="form-control" name="desc" id="desc" value="{{ vacation.description }}" placeholder="Description" required />
	<label>From</label>
	<input class="form-control" type="text" name="date_from" id="date_from" value="{{ vacation.datefrom|date:'d/m/Y' }}" required   />
	<label>To</label>
	<input class="form-control" type="text" name="date_to" id="date_to" value="{{ vacation.dateto|date:'d/m/Y' }}"required  />
	<label>Duration</label>
	<input class="form-control" type="text" name="duration" id="duration" readonly/>
	<br>
	<input type="hidden" name="vacation_id" id="vacation_id" value="{{vacation.id}}"/>
	<br>
	<button type="button" name="save_vacation" id="save_vacation" class="btn btn-success"> Save </button>
</form>
{% endblock %}

{% block scripts %}
<script>

	$(function(){
		$("#date_from").datepicker({
			'format': "dd/mm/yyyy",
			 startDate: new Date(),
		}).on('changeDate', function(ev) {
		    //Get actual date objects from both
		    var dt1 = $('#date_from').data('datepicker').viewDate;
		    var dt2 = $('#date_to').data('datepicker').viewDate;
		    if (dt2 < dt1) {
		        //If #dateEnd is before #dateStart, set #dateEnd to #dateStart
		        $('#date_to').datepicker('update', $('#date_from').val());
		    }
		    //Always limit #dateEnd's starting date to #dateStart's value
		    $('#date_to').datepicker('setStartDate', $('#date_from').val());
		    
		    calculateDuration();
		});
		$("#date_to").datepicker({
			'format': "dd/mm/yyyy",
			startDate: new Date(),
		}).on('changeDate', function(ev) {
		    //Get actual date objects from both
		    var dt1 = $('#date_from').data('datepicker').viewDate;
		    var dt2 = $('#date_to').data('datepicker').viewDate;
		    if (dt2 < dt1) {
		        //If #dateEnd is before #dateStart, set #dateEnd to #dateStart
		        $('#date_to').datepicker('update', $('#date_from').val());
		    }
		    //Always limit #dateEnd's starting date to #dateStart's value
		    $('#date_to').datepicker('setStartDate', $('#date_from').val());
		    
		    calculateDuration();
		});
		$("#date_from").change(function(){
			calculateDuration();
		});
		
		$("#date_to").change(function(){
			calculateDuration();
		});
		$("#Add_Vacations").validate({
			  rules: {
				  desc: {
			      	required: true,	      
			      },
			      date_from: {
			    	  required: true,
			      },
			      date_to: {
			    	  required: true,
			      },
			      duration: {
			    	  required: true,
			      }
			  },
			  
			  messages: {
				  desc: {
					  required: "Description is required" ,
				  },
				  date_from:{
					  required: "Date from is required",
				  },
				  date_to: {
			    	  required: "Date to is required",
			      },
				  
			  },
			  submitHandler: function(){
				  
				  $.ajax({
						type:"POST",
						url: $("form[name=Add_Vacations]").attr('action'),
						data:{
							desc: $("input[name=desc]").val(),
							date_from: $("input[name=date_from]").val(),
							date_to: $("input[name=date_to]").val(),
							duration: $("input[name=duration]").val(),
							vacation_id: $("input[name=vacation_id]").val(),
							csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
						},
						dataType: 'json',
						success: function(response){
							console.log(response)
							
							if(response.status == 'OK'){
								toastr.success('Vacation Saved')
								var vacation_id = response.payload.id;
								$("input[name=vacation_id]").val(vacation_id);
							}else{
								if(response.message == "VACATION_NOT_FOUND"){
									toastr.error('Vacation not found')
								}else if(response.message == "NAME_EXISTS"){
									alert("This topic already found");											
								}else if(response.message == "MISSING_REQUIRED_PARAMETERS"){
									alert("You have missing parameters");
								}
							}	
					    }, 
					    error: function(){
					    	alert("Error in save")
						}
					});
			  }
		});
		
		
		$("#save_vacation").click(function(){
			$("#Add_Vacations").submit();
		});
	});
	
	function calculateDuration(){
		var date_from = $("#date_from").data('datepicker').viewDate;
		var date_to = $("#date_to").data('datepicker').viewDate;
		
		if(date_from && date_to){
			var duration = moment(date_to).diff(moment(date_from), 'days');
			
			$("input[name=duration]").val(duration);
		}
		
	}
		
</script>

{% endblock %}