{% extends 'base.html'%}

<link rel="stylesheet" href="https://formvalidation.io/vendors/formvalidation/css/formValidation.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.min.css" rel="stylesheet"/>

{% block container %}
<form class="jumbotron" name="Edit_Profile" id="Edit_Profile" action="{% url 'save_profile' %}" method="POST">
		<h2> Edit your Profile</h2>
		{% csrf_token %}
		<label>Job Position</label>
		<input type="text" name="jobposition" id="jobposition" class="form-control" value="{{user_profile.position}}" required/>
		<br>
		<label>Date of birth</label>
		<input type="text" name="dateofbirth" id="dateofbirth" class="form-control" value="{{user_profile.date_of_birth}}" required/>
		<br>
		<label>Profile Picture</label>
		<input  type="file" name="profilepic" id="profilepic" required/>
		<br>
		<input type="button" class="btn btn-primary" id="save_profile" name="save_profile" value="Save"/>
		<input type="hidden" name="user_id" value="{{user.id}}"/>
		
	</form>
</div>
<!--  <img src="{{MEDIA_URL}}{{user_profile.profile_pic}}" /> -->
{% endblock %}



{% block scripts %}
<script>
$(function(){
	
	 $("#Edit_Profile").validate({
		rules: {
			jobposition: {
				required: true,
			},
			profilepic: {
				required: true,
			},
			dateofbirth: {
				required: true,
			},
		}, 
	
		messages: {
			jobposition: {
				required: "Job Position is required"
			},
			profilepic: {
				required: "Profile pic is required"
			},
			dateofbirth: {
				required: "Birth Date is required"
			},
			
		},
		

	
	   submitHandler: function(){
		var formData = new FormData();
		
 		formData.append('jobposition', $("input[name=jobposition]").val()); 
 		formData.append('dateofbirth', $("input[name=dateofbirth]").val()); 
 		formData.append('profilepic', $("input[name=profilepic]")[0].files[0]);
		formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
 	 	 
		console.log(formData);
		
		$.ajax({
			method: "POST",
			url: "{% url 'save_profile' %}",
			data: formData,
			processData: false,
			contentType: false,
			success: function(response){
				var response = JSON.parse(response)
				console.log(response.payload)
				if(response.status == 'OK'){
					toastr.success("Save success");
					$("#image_1").attr('src', '{{MEDIA_URL}}'+response.payload.image_url)
					var vacation_id = response.payload.id;
					$("input[name=vacation_id]").val(vacation_id);

				}else{
					if(response.message == 'SYSTEM_ERROR'){
						toastr.success("Fail to save")
					}
					
				}
			},
			error: function(){
				
				toastr.success("Error in save")
			}
		});
	}
 });
	
	$("#save_profile").click(function(){
		$("#Edit_Profile").submit();
	});
	
	$("#dateofbirth").datepicker({
		'format':"dd/mm/yyyy",
    });
});

</script>


{% endblock%}