{% extends 'base.html' %}
{% csrf_token %}
{% block title %} Login {% endblock %}
{% load static %}
 
{% block container%} 
{% csrf_token %}
      <div class="row justify-content-start">
        <div class="col-auto">
          <img src="{% static 'images/business-man.jpg' %}"/>
        </div>
        <div class="col-6" id="form" >
          <form  method='POST' action="{% url 'login' %}">
			{% csrf_token %}
            <h3>Login</h3>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping">@</span>
              <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <br>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="password">℗</span>
              <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
            </div><br/>
            <input type="submit" class="btn btn-outline-primary" value="Login"/>
            <br/>
            <br/>
            <p>Don't have an account?  <a href="{% url 'sign_up' %}" class="link-secondary">Sign Up</a></p>
            
            </form>
          
        </div>
      </div>
{% endblock%}