{% extends 'base.html'%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% block container%}
		{% csrf_token %}
		<h3 align="center" >Vacation table</h3>
		
	<table id="VacationTable">
		<thead>
		
			<th> Description </th>
			<th> Date from </th>
			<th> Date to </th>
			<th> </th>
		</thead>
		<tbody>
		
		</tbody>
		<tfoot>
		<tr>
			<th style="width:140px;" data-searchable="true" >Description</th>
		</tr>
	
	</tfoot>
	</table>
	<br/>
	<br/>
	<a type="Button" class="btn btn-success "href="{% url 'Add_Vacation' %}">Add Vacation</a>		

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>

$("#VacationTable").DataTable({
	ajax: {
		url: "{% url 'vacation_grid' %}",
		type: "POST",
		data: function(d){
			d.csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val(),
			d.vacation_id = "{{django_vacation_id}}"
		}
	},
	lengthMenu: [1, 5, 10, 25, 50],
	
	pageLength: 10,
	
	processing: true,
	serverSide: true,
	
	columns: [
		{'data': 'description', 'name': 'description', 'sortable': true},
		{'data': 'datefrom', 'name': 'datefrom', 'sortable': true},
		{'data': 'dateto', 'name': 'dateto', 'sortable': true},
		{'data': 'action'}
	],
	
	columnDefs: [
		{
			targets: -1, //or 3
			title: 'Actions',
			render: function(data, type, full, meta){
				var add_vacation = "{% url 'Add_Vacation' %}?id=" + full.id ;
				return "<a href='"+add_vacation+"'>Edit</a>"
			}
			
		}
	]
})


</script>


{% endblock%}