{% extends 'base.html'%}

{% block container%}
		{% csrf_token %}
		<h3 align="center" >Vacation table</h3>
		<table align="center" border="1" class="table table-striped">
		<thead>
		<th>Employee</th>
		<th> Description </th>
		<th> Date from </th>
		<th> Date to </th>
		<th> </th>
		</thead>
		<tbody>
			{% for vacation in vacations %}
				<tr>
				<td>{{ vacation.user}} </td>
				<td>{{ vacation.description }}</td>
				<td>{{ vacation.datefrom}}</td>
				<td>{{ vacation.dateto}}</td>	
				<td><a href="{% url 'AddV' %}?id={{vacation.id}}">Edit</a></td>
				</tr>
			{% endfor%}
			</tbody>
			</table>
	<br/>
	<br/>
	<a class="btn btn-success "href="{% url 'AddV' %}?id={{vacation.id}}">Add Vacation</a>		
{% endblock%}