<html>


<head>
   
         
</head>
<body>

	<div class="container">
		<table class="table table-bordered border-dark table-hover responsive nowrap" style="width:50%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Details</th>
				</tr>
			</thead>
		
			
        		<tr>
            		<td>Description:</td>
            		<td>{{vacation_details.Description}}</td>
        		</tr>
        		
        		<tr>
            		<td>Date from:</td>
            		<td>{{vacation_details.Datetime_From}}</td>
        		</tr>
        
         		<tr>
           		 	<td>Date to:</td>
            		<td>{{vacation_details.Datetime_To}}</td>
        		</tr>
        
       			<tr>
            		<td>Duration:</td>
            		<td>{{vacation_details.Duration}}</td>
        		</tr>
        	
		</table>
 	</div> 
 	
 	  
 </body>   
 </html>