{% extends 'base.html' %}
{% block title %}LogIn{% endblock %}

{% block container %}
<style>

#ImageDisplay{
	min-width:570px;
	max-height:auto;
	margin-left:0;
	margin-top:80px;
}
#next{
	margin:0;
	background-color : white;
	padding-top:20px;
	

	/*padding-bottom:auto;
	padding-right:auto;
	padding-left:auto;
	background-color : #f8f9fa!important;*/
	
}
#tableDisplay{
	margin:0;
}
#username-error{
	
	color:red;
}
#password-error{
	color:red;
}
h2,label,.loggedIn{
	 color: #993300;
}
</style>
<h2 class="ms-2">Sign In</h2>
<form method="POST" action="{% url 'userLogin' %}" style="text-align:center;" id="loginForm" >
{% csrf_token %}

<div class="row form-group mt-5">

	<label class="col-sm-4"><b>username:</b></label>
	<div class="col-sm-4">
	     <input type="text" name ="username" placeholder="username" >
	</div>
</div>

<div class="row form-group">

<label class="col-sm-4"><b>password:</b></label>
<div class="col-sm-4">
<input type="password" name ="password" >
</div>
</div>


<input type="submit" value="LogIn" class="loggedIn">
</form>
<label class="mb-5" style="background-color : #f8f9fa!important ;"></label>


{% endblock %}
