{% extends 'base.html' %}

{% block title %}MainPage{% endblock %}
{% load static %}
{% block container %}
<style>

p{
	margin-bottom:0;
}
#next{
	background-color : white;
}
#employee{
	margin-bottom:0;
}
.ChangeColor{
	color:green;
}
</style>
<p class="mt-5 ms-4">PYTHON BOOTCAMP</p>
<h1 id="employee"  class="ms-4"><b><em>Employee </em></b></h1>
<h1 class="mb-4 ms-4"  ><b><em>Vacation</em></b></h1>
<p class="ms-4">your way to add a vacation</p>
<div >
<a  href="{% url 'userLogin' %}" ><button type="button" class="btn-success ms-4 mt-4" style="width:90px;">LOGIN</button></a>
</div>
<div >
<p class="mt-4 ms-4 mb-3">Don't have an account?<a href="{% url 'register' %}" class="ChangeColor"> Sign up</a></p>
</div>
{% endblock %}
