{% extends 'base.html' %}
{% block title %}ProfilePage{% endblock %}
{% load static %}
{% block container %}
<style>
.col-4{
	width:50%!important;
	padding-top:10px;
	padding-bottom:10px;
	
	
}
h2,label{
	 color:bisque;
}
.btn{
	background-color:#212529;
}
</style>

<h2>Update your profile:</h2>
<div >
  <img src="{% static 'IMAGE/profile__image.png' %}" style="height:150px;border-radius: 50%; border: 10px solid black;">
</div>
<br>
<form method="POST" name="ProfilePageView"  action="{% url 'SaveProfile' %}" id="ProfilePage">
<table>
<tr><td><label>JobPosition:<label></td><td><input type="text" name="JobPostion"  value="{{usernameprofile.jobposition}}" ></td></tr>
<tr><td><label>ProfilePic:</label></td><td><input type="file" class="form-control-file border" name="file" value="{{usernameprofile.profilepic}}" ></td></tr>
<tr><td><label>DateOfBirth:</label></td><td><input type="text" name="dateofbirth" id="date_ofbirth" value="{{usernameprofile.dateOfBirth|date:'Y-m-d'}}" required></td></tr>
</table>

{% csrf_token %}
<br>

{% for presentuser in user_one%}
{% if presentuser.user == user %}
<input type="hidden" name="user_name" value="{{user}}">
{% endif %}
{% endfor %}
<button type="button" id="SaveProfile" class="btn btn-dark">Save</button>
</form>



{% endblock %}