{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block container %}
<style>
/*
#bottom-nav-p{
	margin:auto;
}*/
/*
#first_first{
	background-color : #f8f9fa!important;
	min-width:500px!important;
	margin-top:40px;
	
}*/
#ImageDisplay{
	min-width:570px;
	max-height:auto;
	margin-left:0;
	margin-top:80px;
}
#SignUpForm{
	width:400px!important;
	margin:0;
   
}
#next{
	background-color : white;
	min-width:500px;
	min-height:430px;
	/*width:800px!important;*/
	/*max-width:100%;*/
}
#first{
	padding:0;
   
    min-width:240px;
	/*min-height:430px;*/

}
label{
	color: #993300;
	font-weight:bold;
}


/*
.container{
	width:900px!important;
	height:400px!important;
	background-color : #f8f9fa!important;
	padding-top:10px;
	padding-bottom:auto;
	padding-right:auto;
	padding-left:auto;
	
}*/
#id_username-error,#id_email-error,#id_password-error{
	color:red;
}
</style>
<h2 class="mt-3 ms-4">Fill the form:</h2>
<br>
<form method="POST" id="SignUpForm" class="ms-4">
{{userform.as_p}}
{% csrf_token %}

<input type="submit" class="btn btn-dark" value="SignUp"/>
</form>

<!--<script>
$("#next").removeClass("col-4");
$("#next").addClass("col-6");
$("#first").removeClass("col-6");
$("#first").addClass("col-4");
</script>-->
{% endblock %}