{% extends 'base.html' %}
{% block title %}Vacation{% endblock %}
{% load static %}
{% block container %}
<style>
.row{
	display:flex;
	width:100%;
}
.col-4{
	width:100%!important;
	padding-top:10px;
	
	
	
}
#vacation_grid_wrapper{
	width:990px!important;
}

</style>
<!--
<style>
.container{
	width:1000px!important;

	background-color : #f8f9fa!important;
	
}
/*
table {
    border-collapse: collapse;
}

table td {
    border: 1px solid #333;
}
a {
	text-align:center;
}*/
</style>-->

<table id="vacation_grid" data-url="{% url 'vacation_grid' %}">
{% csrf_token %}
<thead>
<tr>
<th>Description</th>

</tr>
</thead>
<tbody>
</tbody>

</table>

<br>
<div align="center">
<a  href="{% url 'HomePageView' %}" ><button type="button">Add Vacation</button></a>
</div>
<br>


{% endblock %}