{% extends 'base.html' %}
	
{% load static %}



{%block title%}Welcome{% endblock %}

	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	


{% block container_block %}
   <h4 id="python">PYTHON BOOTCAMP</h4>
   <h1 id="green">Employee Vacation</h1>

  

   <br/>
   
   <h5>Your way to add a vacation</h5>
   <a class="btn btn-success" href="{%url 'user_login' %}" role="button" >Login</a>
   <p></p>
   <h6>You don't have an account?!<a href="{%url 'register' %}" >Sign up</a></h6>
   
   

         
{% endblock %}

{% block scripts %}

	

{% endblock %}