{% extends 'base.html' %}
	
{% load static %}



{%block title%}Welcome{% endblock %}



{% block container_block %}

	{% if user.is_authenticated %}
	  	<h2>Welcome "{{request.user.username}}" !</h2>
	  	
	  	<img id="image_1" src="{{MEDIA_URL}}{{request.user.userprofile.picture}}" alt="This is an image">
	  	
	{% else %}
   		<h1>Employee Vacation</h1>
   		<br/>
   
   		<h5>Please Sign in!</h5>
   		<a class="btn btn-dark" href="{%url 'user_login' %}" role="button" >Sign in</a>
   		<p></p>
   		<h6>Don't have an account?</h6>
   		<a href="{%url 'register' %}" >Sign up</a>
   
	{% endif %}  

     
{% endblock %}

{% block scripts %}

 <link rel="stylesheet" href= "{% static 'css/index.css' %}">
 


{% endblock %}
	  
