{% extends 'base.html'%}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <h1>Please Login</h1>
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          <label for="password">Password:</label>
          <label for="password"></label>
          <input type="password" name="password">
		
		<input type = "submit" name="" value = "Login"/>
</br>
</br>
</br>
		<input type="button" onclick="location.href='register';" value="register here" />
		</form>
	</div>
</div>
		
{% endblock %}