{% extends 'base.html'%}
{% block body_block%}
<div class="container">
    <div class="jumbotron">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Format date</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
    	dateFormat: 'yy-mm-dd'
    });})
  
  </script>
</head>
<body>
	<form method ="POST">
		{% csrf_token %}
		{{profile_form.as_p}}
		<p>Date_Of_Birth: <input type="text" id="datepicker" size="40" name="Date"></p>
		
		<input type = "submit" name="" value = "Register"/>
		</form>
</body>
</div>
</div>
{% endblock %}