{% extends 'base.html' %}


 {% block container_block %}
 
 
<link rel="stylesheet" href="https://formvalidation.io/vendors/formvalidation/css/formValidation.min.css"> 
 
<h1>Welcome to your vacation form</h1>
<form name="vacation_form" id="vacation_form" action="{% url 'save_vacation' %}" method="POST">
	{%csrf_token%}
	
	
	<label>Description</label>
	<input name="description" class="form-control" value="{{desc.description}}" placeholder="Description" required>
	<input type="hidden" name="description_id" value="{{desc.id}}">
	
	<button type="submit" id="save_vacation" class="btn btn-success">Save</button>

</form>


		

<script>
	$(function(){
		
		$( "#vacation_form" ).validate({
			  rules: {
				  description: {
			      required: true,	      
			    }
			  },
			  
			  messages: {
				  description: {
					  required: "Description is required" 
				  }
				  
			  },
			  submitHandler: function(){
				  
				  $.ajax({
						type:"POST",
						url:"{% url 'save_vacation' %}",//$("form[name=topic_form]").attr('action')
						data:{
							description: $("input[name=description]").val(),
							description_id: $("input[name=description_id]").val(),
							csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
						},
						dataType: 'json',//json bcz data is dictionary
						
						success: function(response){
							console.log(response)
							
							if(response.status == 'OK'){
								alert("save success");
								var description_id = response.payload.id;
								$("input[name=description_id]").val(description_id);
							}else{
								if(response.message == "FAIL"){
									alert("Fail to save");
								}else if(response.message == "NAME_EXISTS"){
									alert("This topic already found");											
								}else if(response.message == "MISSING_REQUIRED_PARAMETERS"){
									alert("You have missing parameters");
								}
							}	

						
					    }, 
					    error: function(){
					    	alert("Error in save")
						}
					});
				  
				  
				  
				  
			  }
		});

		
		
		$("#save_vacation").click(function(){
			
			$("#vacation_form").submit();
	
			
		});
	});


</script>
{% endblock %}