{% extends 'base.html' %}
{% load static  %}
{% block block2 %}
<h1>VACATION TABLE</h1>

<hr>
{% csrf_token %}
<div class="col-sm-12">
	<button class="btn btn-primary"><a href="{% url 'vacation_form' %}">Add Vacation</a></button>
</div>
<div class="col-sm-12">
<table id= "vacation_table" class= "table">
	<thead>
		<tr>
			<th>Description</th>
			<th>Date from</th>
			<th>Date to</th>
			<th>Duration</th>
			<th>Status</th>
			<th>Action</th>	
		</tr>
	</thead>
	<tbody>
	
	</tbody>
	<tfoot>
		<tr>
			<th style="width:140px;" data-searchable="true" >Description</th>
			<th style="width:140px;" data-searchable="false" >Date from</th>
			<th style="width:140px;" data-searchable="false" >Date to</th>
			<th style="width:140px;" data-searchable="true" >Duration</th>
			<th style="width:140px;" data-searchable="false" >Status</th>
			<th style="width:140px;" data-searchable="false"></th>
		</tr>
	</tfoot>
</table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="vacation_status_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Vacation Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to update?</p>
        <input name="vacation_id" type="hidden" />
      </div>
      <div class="modal-footer">
        <button type="button" id="save_status" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

	$(function(){
		
		var vacay_table = $('#vacation_table').DataTable({
			ajax: {
				url: '{% url "vacation_grid" %}',
				type: 'POST',
				data: function(d){
					d.csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val(),
					d.user_id = "{{request.user.id}}" //$("input[name=user_id]").val()
					//{{django_topic_id}} w bruh 3al context
					
				}
			},
			responsive: true,
			columns: [
				{'data': 'description', 'name': 'description', 'sortable':true},
				{'data': 'date_from', 'name': 'date_from'},
				{'data': 'date_to', 'name': 'date_to'},
				{'data': 'duration', 'name': 'duration'},
				{'data': 'status', 'name': 'status'},
				{'data': 'action'}
				
				//{'data': 'date_from', 'name': 'date_from'},
				//{'data': 'date_to', 'name': 'date_to'},
				
				],
			//data esm l data elle be3eta mn l views w name huwe esm l field
			
			columnDefs: [
				{
					targets: -1, //or 3
					title: 'Actions',
					render: function(data, type, full, meta){
						var edit_url = "{% url 'vacation_form' %}?id=" + full.id;
						return "<a href='"+edit_url+"'>Edit</a> <button class='btn btn-success btn-sm btn-update' type='button' data-id="+full.id+"><i class='fa fa-check'></i></button>"
					}
					
				}
			],
			
			createdRow: function(row, data, dataIndex){
				console.log(data)
				if(data['status'] == "Active"){
					$(row).css({'background-color': "green"})
				}else{
					$(row).css({'background-color': "red"})
				}
			}
		});
		
		$("#vacation_table tfoot th[data-searchable=true]").each(function(){
			var title = $(this).text();
			$(this).html('<input type="text" placeholder="Search '+title+'"/>');
		});
		
		vacay_table.columns().every(function(){
			var column = this;
			$('input',this.footer()).on('change',function(){
				if(column.search()!== this.value){
					column.search(this.value).draw();
				}
			})
		})
		
		$("#vacation_table tbody").on('click', '.btn-update', function(){
			//show dialog
			console.log(2)
			$("#vacation_status_modal").show();
			$("input[name=vacation_id]").val($(this).attr('data-id'));
		});
		
		$("#save_status").click(function(){
			$.ajax({
				type:"POST",
				url: "{% url 'update_status' %}",
				data:{
					vacation_id: $("input[name=vacation_id]").val(),
					csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
				},
				dataType: 'json',//json bcz data is dictionary
				success: function(response){
					console.log(response)
					
					if(response.status == 'OK'){
						toastr.success('Vacation status updated');
						vacay_table.ajax.reload(); //to auto update table on success
						$("#vacation_status_modal").hide();
					}else{
						if(response.message == "VACATION_NOT_FOUND"){
							toastr.error('Vacation not found')
						}else if(response.message == "NAME_EXISTS"){
							alert("This topic already found");											
						}else if(response.message == "MISSING_REQUIRED_PARAMETERS"){
							alert("You have missing parameters");
						}
					}	
			    }, 
			    error: function(){
			    	alert("Error in save")
				}
			});
		});
		
	});

</script>
{% endblock %}

<!-- 
<a href= "{% url 'vacation_form' %}?id={{vacation.id}}">Edit</a> 
<td>{{vacation.duration}}</td>

data: function(d){
					d.user_id = $("input[name=user_id]").val()
					
				}
				
{% for vacation in vacations %}
			<tr>
				<td>{{vacation.description}}</td>
				
			</tr>		
			
		{% endfor %}				
-->