 body{
  background-color: #3b986c ;
}

#big_div{
	min-height: 500px;
	margin-top: 100;
    margin-bottom: 100;	
}

#first_div{
	background-color: #3c6652 ;
	min-height:400px;
	width: 350px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding:20px;
	text-align:center;	
	margin-left: auto;
}

#second_div{
	background-color: white ;
	min-height:400px;
	width: 350px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding:20px;
	margin-right: auto;
}

.error{
	color: red;
}

.form-group{
	margin-bottom: 10px;
	
}


.update{
	width: 30px;
    height: 30px;
	
}



#image{
	width:300px;
    margin-top: 50%;
    margin-bottom: 50%;

}

#down{
	background-color: #333333;
	height: 50px;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#text_down{
	font-family: "Arial";
	color:white;
}