{% extends 'base.html' %}
{% load static  %}

{%block title%}Login{% endblock %}

{% block container_block %}

<style>

#borders{

         border : 2px solid #274472;
         color:#274472;
         font-weight:bold;
}

.buttons{

          border-radius: 20px;
          background-color: orange;
          padding: 10px 10px;
          color:#274472;
          font-weight:bold;
}
</style>

 <form  id="login_form" method="post" action="{% url 'employee_login'%}">
		{% csrf_token %}
		{% if user.is_authenticated %}
        	<h1>Welcome {{request.user.username}}</h1>
     	{% else %}
     		<div class="row form-group">
			<label class="col-sm-12">User Name:</label>
				<div class="col-sm-12">
					<input id="borders" type="text" name="username" class="form-control" placeholder="username" required>
				</div>
			</div>
			<br><br>
		    <div class="row form-group">
			<label class="col-sm-12">Password:</label>
				<div class="col-sm-12">
					<input id="borders"  type="password" name="password" class="form-control" value="{{UserForm.password}}" placeholder="password" required>
				</div>
			</div>	   <br><br>
			<input class="buttons" type="submit"  value="Login"/>
     	{% endif %}  
		
	
	</form>
{% endblock %}

{% block scripts %} <script src="{% static 'js/login_form.js' %}"></script> {% endblock %}


