{%extends 'base.html' %}
{% load static  %}
{%block title%}Registration{% endblock %}

{% block container_block %}

    
    <div id="form_div">
      	 <form id="registration_form" method="POST" enctype="multipart/form-data">
      
       		{%csrf_token%}
       		
       		<div class="row form-group">
			<label class="col-sm-12">User Name:</label><br>
				<div class="col-sm-12">
					<input name="username" class="form-control" value="{{UserForm.username}}" placeholder="username" required>
				</div>
			</div><br>
			
			<div class="row form-group">
			<label class="col-sm-12">Email:</label><br>
				<div class="col-sm-12">
					<input name="email" class="form-control" value="{{UserForm.email}}" placeholder="email" required/>
				</div>
			</div>
			<br>
			<div class="row form-group">
			<label class="col-sm-12">Password:</label><br>
				<div class="col-sm-12">
					<input  type="password" name="password" class="form-control" value="{{UserForm.password}}" placeholder="password" required>
				</div>
			</div><br>
      		
      		<div class="row form-group">
			<label class="col-sm-12">First Name:</label><br>
				<div class="col-sm-12">
					<input name="first_name" class="form-control" value="{{UserForm.first_name}}" placeholder="first name" required>
				</div>
			</div><br>
			
			<div class="row form-group">
			<label class="col-sm-12">Last Name:</label><br>
				<div class="col-sm-12">
					<input name="last_name" class="form-control" value="{{UserForm.last_name}}" placeholder="Last name" required>
				</div>
			</div>
			
			<br><br>
			
			<p >*** Please provide us with more information ***</p><br>
			
			
		
			
			<div class="row form-group">
			
				<div class="col-sm-12">
					Job----------------------------
					{{profile_form.as_p}}			
						
						
				</div>
			</div>
			<br>
			
      		
      	 	<button type="button" id="register" class="btn btn-dark" style="border : 2px solid black; font-weight: bold;background-color:#CC92C2; color: black; ">Sign up!</button> 
     
     	 </form>
     	 </div>    
    
<!-- 
     <center>
     	 <div id="form_div">
     	 
      	 <form id="registration_form" method="POST" enctype="multipart/form-data">
      
       		{%csrf_token%}
       		
      		{{user_form.as_p}} <br>
      		{{profile_form.as_p}}
      		<br>
      		 
      <br>
      	 <input class="btn btn-dark" style="background-color:#CC92C2; color: black;" type="submit" name="" id="register" value="Sign in"/>          
     	
     
     	 </form>
     	 </div>  
     	 </center>  -->
     	
 
{% endblock %}

{% block scripts %} <script src="{% static 'js/registration_form.js' %}"></script> {% endblock %}