{% extends 'base.html'%}
{% block body_block %}
<link rel="stylesheet"href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
         
	<h2>this is your vacation {{user}}</h2> 
	<form method ="POST" action = "showvacation" >
		  	<div class="container">
        
        
           
            <table id= "table">
            <thead>
            <tr>
            <td>description</td> 
            <td>date from</td>
               <td>  date to</td>
                </tr></thead>
                <tbody>
                   {% for data in form %}
                   <tr>
                  <td>{{data.description}}</td>>
                  <td>{{data.datefrom}}</td>
                  <td>{{data.dateto}}</td>
                  <td> <a href= "{% url 'vacation'%}?id={{data.id}}">Edit</a>
                  </td></tr>
                  {% endfor %}
                  </tbody>
               </table>
           

        
   
</div>
  <script>
           $(document).ready(function(){
          
        	   var vacation_table = $('#table').DataTable({
        		   ajax: {
        			   url: '{%url "showvacation" %}',
        			   type: 'POST',
        			   data: function(d){
        				   d.csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val(),
        				   d.user_id = "{{request.user.id}}"
        			   }
        		   },
        		   
        		   columns: [
        			   {'data': 'description', 'name': 'description', 'sortable':true},
        			   {'data': 'datefrom', 'name':'datefrom'},
        			   {'data': 'dateto', 'name':'dateto'},
        		   ],
        	   })
           })
       			</script>


<input type="button" onclick="location.href='vacation';" value="add vacation" />
</form>
		
		
{% endblock %}