{% extends 'base.html' %}

{% block container_block %}

	<nav class="navbar bg-light">
		<ul class="navbar-nav">
			
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'register' %}">EDIT PROFILE</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'add_vacation' %}">ADD VACATION</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'logout' %}">LOGOUT</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'vacation_form_view' %}">VACATION TABLE</a>
			</li>
		</ul>
					
	</nav>
	
	
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		
	</form>	
			
{% endblock %}

