<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
     
    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
    
    <title>{%block title %} {% endblock %}</title>
</head>

<body>
 <nav class="navbar navbar-default navbar-static-top">

    <div class="container">
        <ul class="nav navbar-nav">
            <li><a>Weclome back: {{user.username}}</a></li>
            <li><a></a></li>
            <li><a href = "{% url 'index' %}" >Profile </a></li>
            <li><a href = "{% url 'form_VacationForm' %}">Add vacation</a></li>    
            <li><a href = "{% url 'vacation_list' %}">Vacation List</a></li>    
            <li><a>&nspar; &ThinSpace;</a></li>
            <li class="form-inline"><a href = "{% url 'logout_request' %}">Logout</a></li>    
        </div>
        </ul>
    </div>
</nav>

       
    <div class="container">
        
       {% block container_block %}
       <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      {% endblock  %}
      
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</body>
</html>