{% extends "Vacations/base.html" %}
{% block head %}
<head>


<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>

<style>
  * {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    width: 100%; /* value of your choice which suits your alignment */
    align-items: center;
    background-color: #30c090;

  }
  table {
    background-color: white;
  }
  footer {
    padding: 0 !important;
    position: absolute;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 6%;
    display: inline-block;
 
  }
</style>
</head>
{% endblock%}
  {% block container_block %}
<body>

  <p style="color: white"><strong>Vacations:</strong></p>
  <table id="vacation_table" class="table">
    <thead>
      <tr scope="row">
        <th>Vacation id</th>
        <th>Location</th>
        <th>Employee</th>
        <th>From:</th>
        <th>To:</th>
      </tr>
    </thead>
    <tbody>
      {% for vacation in vacations %}
      <tr>
        <td>{{vacation.id}}</td>
        <td>{{vacation.desc}}</td>
        <td>{{vacation.user}}</td>
        <td>{{vacation.from_date}}</td>
        <td>{{vacation.to_date}}
          <td class="d-flex"><a  href="/{{vacation.id}}/" class = 'btn btn-success btn-sm mx-2'>Edit</a>
          <form action ={% url 'delete_vacation' %}" method='POST'>
            {% csrf_token %}
            <input type="hidden" value="{{vacation.id}}" name='id'>
            <button class="btn btn-danger btn-sm mx-2" name="delete">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
 
  <script
    type="text/javascript"
    charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"
  />

  <script
    type="text/javascript"
    src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css"
  />

  <script>
    $(document).ready(function () {
      //responsive : true,

      $("#vacation_table").DataTable({
        responsive: true,
      });
    });
  </script>
</body>

{% endblock %}
