{% extends "Vacations/base.html" %} {%block head %} Vacation List{% endblock%}

<head> </head>

{% block container_block %}

<style>
  body {
    background-color: #209171;
  }
  table{
    background-color:white;

  }

  
</style>
<p><strong>Vacations:</strong></p>

<body>
  <table id="vacation_table" class="table" >
    <thead>
      <tr>
        <th>id</th>
        <th>Location</th>
        <th>Employee</th>
        <th>From:</th>
        <th>To:</th>
      </tr>
    </thead>
    <tbody>
      {% for vacation in vacations %}
      <tr>
        <td>{{vacation.user_id}}</td>

        <td >{{vacation.desc}}</td>
        <td>{{vacation.user}}</td>
        <td>{{vacation.from_date}}</td>
        <td>{{vacation.to_date}}
          <button type="submit" value="edit" class="btn btn-link">Edit</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script>
   
    $(function () {
     // $('#vacation_table').DataTable({
      //responsive: true,
      $('#vacation_table').DataTable({
        ajax: {
          url: '{% url "vacation_list" %}',
          type: 'POST',
          data: function(d){
            d.csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val(),
            d.user_id = "{{request.user.id}}"
            
          }
         
        },
       
      });
    }); 
     
      
  
  </script>
</body>
{% endblock %}

