<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">




    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>


    <style>
        body {
            background-color: #209171;
        }

        .div-1 {
            width: 50%;
            padding-left: 150px;
            align-content: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">

        <div class="container">
            <ul class="nav navbar-nav">
                <li><a>Registration Form</a></li>
                <li><a></a></li>
                <li><a href="{% url 'index' %}">Profile </a></li>
                <li><a href="{% url 'form_VacationForm' %}">Add vacation</a></li>
                <li><a href="{% url 'vacation_list' %}">Vacation List</a></li>
                <li><a>&nspar; &ThinSpace;</a></li>
                <li class="form-inline15"><a href="{% url 'logout_request' %}">Logout</a></li>
        </div>
        </ul>
        </div>
    </nav>

    <h1 class="container mt-5 w-50" style='color:aliceblue;'> Signup Form:</h1>
    <div class='div-1'>
        <div class="jumbotron container mt-10 w-20" style=" background: rgba(80, 182, 156, 0.39);">
            <div class="form-group">
                {% if registered %}

                <h1>Thank You For Registration.</h1>
                <a href="{% url 'user_login' %}">Login</a>
                {% else %}

                <form id='form-1' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{user_form.as_p}}
                    {{profile_form.as_p}}

                    <input type="submit" name='register' id="register" value="register" class='btn btn-success' />
                </form>
                <p>Already a user? <a href="{% url 'user_login' %}">Login</a></p>
            </div>
        </div>
    </div>
    {% endif %}
    <footer>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

            <p class="text-white">Samir Zahreddine Django Project</p>
        </div>
        <!-- Copyright -->
    </footer>


    <script type="text/javascript">
       // var validator = $("#form-1").validate();
        //validator.form();



        $(document).ready(function () {
            $('#form-1').validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 4,
                        maxlength: 15
                    },
                    email: {
                        required: true,
                    },
                    password: {
                        required: true,
                        minlength: 4,
                        maxlength: 15,
                    },
                    position: {
                        required: true,
                        minlength: 4,
                        maxlength: 15
                    },
                },
                messages: {
                    username: {
                        required: "Please Enter your username."
                    },

                    email: {
                        required: " Please Enter your valid email."
                    },

                    password: {
                        required: "Please Enter a valid password.",
                      //  minlengthl: jQuery.validator.format("Please, at least 4 characters are necessary")
                    },

                    position: {
                        required: "Please Enter your position."
                    },

                    date_of_birth: {
                        required: "Please Enter your date of birth."
                    },
                },
        
            });
        });


        // catch the form's submit event
        $('#form-1').keyup(function () {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                url: "{% url 'validate_username' %}",
                // on success
                success: function (response) {
                    if (response.is_taken == true) {
                        $('#form-1').removeClass('is-valid').addClass('is-invalid');
                        $('#form-1').after(
                            '<div class="invalid-feedback d-block" style= "color: white;" id="usernameError">* username or email are not available!</div>'
                        )

                        $('#form-1').removeClass('is-valid').addClass('is-invalid');
                        $('#form-1').after(
                            '<div class="invalid-feedback d-block" style= "color: white;" id="usernameError">* username or email are not available!!</div>'
                        )
                    } else {
                        $('#form-1').removeClass('is-invalid').addClass('is-valid');
                        $('#usernameError').remove();
                    }
                },
                // on error
                error: function (response) {
                    // alert the error if any error occured

                    console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
   
    </script>
</body>