<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="jumbotron">
  <div class="form-group">
{% if registered %} 

<h1>Thank You For Registration.</h1>
<a href="{% url 'user_login' %}">Login</a>
{% else %}   
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} 
  {{user_form.as_p}} 
  {{profile_form.as_p}}
  <input type="submit" value="register" />
</form>
<p>Already a user? <a href="{% url 'user_login' %}">Login</a></p>
</div>
</div>
{% endif %}  

</body
