

h1{
	font-family: 'Montserrat Alternates', sans-serif;
	color: #069c55 ;
}


#link{
    color: white;
}
@media(max-width:960px){
#table_div{
	min-width: fit-content;
}
}

#big_div{
	min-height: 500px;
	margin-top: 100;
    margin-bottom: 100;
	border-style : solid;
	background-color: white;
}


@media(max-width:960px){
	#big_div{
	min-height: 500px;
	margin-top: 100;
    margin-bottom: 100;
	border-style : solid;
	background-color: white;
	}	
}

td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}
