{% extends 'finalapp/basic.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}

<h1 class="h">Edit your Vacation</h1>
<br><br>
<form action="" method="POST">
 {% csrf_token %}

{{form.as_p}}
<label>Duration
<input type="text" readonly>
          <button type="button" class="btn btn-primary" >Calculate Duration</button><br><br>
<input type="Submit" class="btn btn-primary" value="Update Vacation" >
</form><br><br>

<form action="{% url 'Home' %}">
<input type="Submit" class="btn btn-primary" value="Back" >
</form>
{% endblock %}
