{% extends "finalapp/basic.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block body_block %}
<div class="container" style="background-color:white;margin:60px 60px 60px 60px">
<h1 align="center" style="font-family: Lucida Handwriting , Helvetica, cursive;">You can edit your profile info here</h1>


<form action="" method="POST">
 {% csrf_token %}
{{form.as_p}}
<input type="Submit" class="btn btn-success" value="Update Profile" >
</form>
<form action="{% url 'Home' %}">
<input type="Submit" class="btn btn-success" value="Back" >
</form>

{% endblock %}